@model ICollection<AddUserVM>
@{
    ViewData["Title"] = "Usuários";
    ViewData["Caminho"] = "<li>Usuários</li>";
}


<div class="row mb-3 ">
    <div class="col-12 text-center">
        <button data-id="0" id="modal-open" class="btn btn-success">
            <i class="fa fa-plus-circle"></i>
            <b>Incluir Usuário</b>
        </button>
    </div>
</div>

<div class="container">
    <div class="table-responsive-xl">
        <table class="table table-sm table-striped bg-white table-hover bootstrap-table">
            <thead class="thead-dark">
                <tr>
                    <th data-field="id" width="15">#</th>
                    <th>Nome</th>
                    <th>Login</th>
                    <th>E-mail</th>
                    <th width="15" class="text-center" data-field="operate" data-events="operateEvents"> </th>
                </tr>
            </thead>
            <tbody class="bg-white">
                @foreach (var item in Model)
                {
                    <tr class="bg-white">
                        <td>@item.Id</td>
                        <td class="text-nowrap">@item.Name</td>
                        <td class="text-nowrap">@item.Login</td>
                        <td class="text-nowrap">@item.Email</td>
                        <td class="text-nowrap text-right" width="15">
                            <a class="mr-2 deletar" href="#" data-toggle="tooltip" data-placement="left" title="Deletar" data-id="@item.Id">
                                <i class="fa fa-times text-danger"> </i>
                            </a>
                            <a class="edit" href="#" data-toggle="tooltip" title="Editar" data-placement="left" data-id="@item.Id">
                                <i class="text-dark fa fa-pencil-alt"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" role="dialog" data-bs-backdrop="static" id="modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form asp-action="AddUser" method="post">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title title"></h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa fa-times-circle"></i>  Fechar</button>
                    <button type="submit" class="btn btn-success"><i class="fa fa-check-circle"></i> Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" style="padding-top:120px" role="dialog" id="delete" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title"><i class="fa fa-exclamation-triangle " style="color:yellow"></i>  ATENÇÃO <i style="color:yellow" class="fa fa-exclamation-triangle"></i></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span class="font-weight-bold font-18">
                    Tem certeza que deseja apagar este Usuário?
                    <input type="hidden" id="del-user" />
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa fa-times-circle"></i>  Fechar</button>
                <button type="button" id="confirm-del" class="btn btn-success"><i class="fa fa-check-circle"></i> Confirmar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("#modal-open, .edit").click(function () {
            var id = $(this).data("id");
            Ajax(id)
        })

        function Ajax(id) {
            $.post('@Url.Action("AjaxUser")', { "id": id }, function (response) {
                $("#modal-body").html(response);
                maskInit();                
                if (id != 0) {
                    $(".title").text("Editar Usuário")
                } else {
                    $(".title").text("Cadastrar Usuário")
                }
                $("#modal").modal("show");
            })
        }

        $("#confirm-del").click(function () {
            window.location.href = "@Url.Action("Delete")?id=" + $("#del-user").val();
        });

        var $table = $('#table')
        window.operateEvents = {
            'click .edit': function (e, value, row, index) {
                var id = [row.id]
                Ajax(id)
            },
            'click .deletar': function (e, value, row, index) {
                var id = [row.id]
                $("#del-user").val(id)
                $("#delete").modal("show")
            }
        }
    </script>
}