@model RecordVM
@{
    ViewData["Title"] = "Detalhe";
    ViewData["Caminho"] = "<li>Prontuário</li><li>Detalhe</li>";
}
<div class="container bg-white">
    <div class="row m-15">
        <div class="col-12 text-center">
            <div class="card-header justify-content-between align-items-center">
                <h3 class="header-title">Pet</h3>
            </div>
        </div>
    </div>
    <div class="row justify-content-center   m-1">
        <div class="col-sm-5 offset-sm-2"> <b> Nome:</b>  @Model.Name  </div>
        <div class="col-sm-5"> <b> Chip:  </b> @Model.Identifier </div>

    </div>
    <div class="row justify-content-center  m-1">
        <div class="col-sm-5 offset-sm-2"> <b> Espécie:  </b> @Model.Specie </div>
        <div class="col-sm-5"> <b> Tutor:  </b> @Model.Guardian </div>
    </div>
    <div class="row justify-content-center  m-1">
        <div class="col-sm-5 offset-sm-2"> <b> Plano de Saúde:  </b> @Model.HealthPlan </div>
        <div class="col-sm-5"> <b> Clínica:  </b> @Model.Clinic </div>
    </div>

    <div class="row m-15">
        <div class="col-12 text-center">
            <div class="card-header justify-content-between align-items-center">
                <h3 class="header-title">Prontuário</h3>
            </div>
        </div>
    </div>
    <div class="row justify-content-center m-1">
        <div class="col-sm-5 offset-sm-2"> <b> Data:</b>  @Model.Date.ToDateBrazilMin()  </div>
        <div class="col-sm-5"> <b> Procedimento:  </b> @Model.Procedure </div>

    </div>
    <div class="row justify-content-center m-1">
        <div class="col-sm-5 offset-sm-2"> <b> Motivo da Consulta:  </b> @Model.ReasonConsultation </div>
        <div class="col-sm-5"> <b> Histórico Clínico:  </b> @Model.ClinicalHistory </div>
    </div>

    <div class="row justify-content-center m-1">
        <div class="col-sm-5 offset-sm-2"> <b> Exame Físico:</b>  @Model.PhysicalExam  </div>
        <div class="col-sm-5"> <b> Diagnóstico:  </b> @Model.Diagnosis </div>

    </div>
    <div class="row justify-content-center m-1">
        <div class="col-sm-5 offset-sm-2"> <b> Prescrição:  </b> @Model.Prescription </div>
        <div class="col-sm-5"> <b> Observações:  </b> @Model.Observation </div>
    </div>



</div>