@using PetShopCRM.Domain.Enums
@using PetShopCRM.Web.Services.Interfaces
@model ICollection<Record>
@inject ILoggedUserService loggedUser
@{
    ViewData["Title"] = "Prontuário";
    ViewData["Caminho"] = "<li>Prontuário</li>";
}

<style>
    .card-link {
        color: inherit;
        text-decoration: none;
    }

        .card-link:hover {
            text-decoration: none;
        }

    .card-title {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .card-img-top {
        width: 100%; /* faz a imagem ocupar toda a largura do card */
        height: auto; /* mantém a proporção da imagem */
        max-height: 300px; /* altura máxima da imagem */
        object-fit: cover; /* cobre a área do container sem distorcer a imagem */
    }

    .card-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
@if (loggedUser.Role == nameof(UserType.Admin) || loggedUser.Role == nameof(UserType.General))
{
    <div class="row mb-3 ">
        <div class="col-12 text-center">
            <a asp-action="Index" class="btn btn-success">
                <i class="fa fa-plus-circle"></i>
                <b>Incluir Prontuário</b>
            </a>
        </div>
    </div>
    <div class="row mb-3">
        <label>
            Pet:
        </label>
        <div class="col-12">
            <input type="text" id="searchPet" class="form-control" />
        </div>
    </div>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4" data-pet="@item.Pet.Name">

            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title">
                        <div class="row">
                            <div class="col-11 text-center">
                                <span class="text-center">
                                    <i class="fas fa-paw"></i> @item.Pet.Name
                                </span>
                            </div>
                            @if (loggedUser.Role == nameof(UserType.Admin) || loggedUser.Role == nameof(UserType.General))
                            {
                                <div class="col-1">
                                    <a class="edit" href="@Url.Action("Index",new {Id = item.Id})" data-toggle="tooltip" title="Editar" data-bs-placement="left" data-id="@item.Id">
                                        <i class="text-dark fa fa-pencil-alt"></i>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>

                    <a href="javascript:void(0)" data-id="@item.Id" class="card-link link-dark details">
                        <div class="row text-left">
                            <div class="col">
                                <p class="card-text"><i class="fa-solid fa-calendar-days"></i> <strong>Data:</strong> @item.Date.ToDateBrazilMin()</p>
                                <p class="card-text"> <i class="fa-solid fa-house-chimney-medical"></i> <strong>Clínica:</strong> @item.Clinic.Name</p>
                                <p class="card-text"><i class="fa-solid fa-clipboard"></i> <strong>Procedimento:</strong> @item.ProcedureHealthPlan.Procedure.Description</p>
                                <p class="card-text"> <i class="fa-solid fa-hand-holding-medical"></i> <strong>Motivo da consulta:</strong> @item.ReasonConsultation</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade" role="dialog" data-bs-backdrop="static" id="modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title title">Detalhes Prontuário</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa fa-times-circle"></i>  Fechar</button>
                </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $('.details').on('click', function () {
            var id = $(this).data('id');

            $.get('@Url.Action("AjaxDetails", "Record")', { id: id }, function (response) {
                $('#modal-body').html(response);
                $('#modal').modal('show');
            });
        });

        $('#searchPet').on('keyup', function () {
            var value = $(this).val();
            if(value == "")
                $('div[data-pet]').show();

            $('div[data-pet]').hide();
            $('div[data-pet]').each(function (i, e) {
                var name = $(e).data('pet').toLowerCase();

                if (name.includes(value.toLowerCase()))
                    $(e).show();
            });
        });
    </script>
}