@model ICollection<PetUpdateImgDTO>
@{
    ViewData["Title"] = "Relatório por imagens atualizadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    ViewData["Caminho"] = "<li>Relatório por imagens atualizadas</li>";
}
<div class="container">
    <div class="table-responsive-xl">
        <table class="table table-sm table-striped bg-white table-hover bootstrap-table">
            <thead class="thead-dark">
                <tr>                   
                    <th>Pet</th>
                    <th>Tutor</th>
                    <th>Dias</th>
                    <th>Dt. ult. atualização</th>
                    <th width="15" class="text-center" data-field="operate" data-events="operateEvents"> </th>
                </tr>
            </thead>
            <tbody class="bg-white">
                @foreach (var item in Model)
                {
                    var textDanger = item.Days >= 30 ? "text-danger" : "";

                    <tr class="bg-white">
                        <td>@item.Name</td>
                        <td class="text-nowrap @textDanger">@item.Guardiam</td>
                        <td class="text-nowrap ">@item.Days</td>
                        <td class="text-nowrap">@item.LastUpdate.ToDateBrazilMin()</td>
                        <td class="text-nowrap text-right" width="15">
                            <a class="mr-2 deletar" target="_blank" href="https://wa.me/@item.Phone?text=Olá%20@{@item.Guardiam},%0AEsperamos%20que%20esteja%20tudo%20bem%20com%20você!%20Notamos%20que%20a%20foto%20do%20seu%20pet, @{@item.Name},%20está%20há%20@{@item.Days}%20dias%20sem%20ser%20atualizada%20em%20nosso%20sistema,%20pedimos%20gentilmente%20que%20você%20atualize%20a%20foto%20do%20seu%20pet%20o%20quanto%20antes%20através%20do%20nosso%20sistema.%0A%0Aplano.vetcard.com.br%0A%0AFaça%20login%20com%20o%20usuário%20e%20senha%20enviado%20no%20seu%20e-mail%20fornecido%20no%20cadastro.%0A%0AAgradecemos%20sua%20colaboração%20e%20estamos%20à%20disposição%20para%20qualquer%20dúvida.%0A%0AAtenciosamente,%20VetCard." data-toggle="tooltip" data-placement="left" title="Enviar mensagem." data-id="@item.Id">
                                <i class="fa-brands fa-whatsapp text-success"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

                                

