@model ICollection<UserGuardianVM>
@{
    ViewData["Title"] = "Início";
}
  <style>
    .card-link {
        color: inherit;
        text-decoration: none;
    }

        .card-link:hover {
            text-decoration: none;
        }

    .card-title {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .card-img-top {
        width: 100%; /* faz a imagem ocupar toda a largura do card */
        height: auto; /* mantém a proporção da imagem */
        max-height: 300px; /* altura máxima da imagem */
        object-fit: cover; /* cobre a área do container sem distorcer a imagem */
    }

  </style>

<div class="row justify-content-center">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <a href="@Url.Action("Details", "Guardian", new {IdPet = item.Id})" class="card-link">
                <div class="card mb-4">
                    @if(item.Url != null){
                        <img src="~/Upload/Pet/@item.Id/@item.Url" class="card-img-top" alt="Imagem do Pet">
                    }
                    
                    <div class="card-body">
                        <h5 class="card-title text-center"><i class="fas fa-paw"></i> @item.Name</h5>
                        <div class="row text-center">
                            <div class="col">
                                <p class="card-text"><i class="fas fa-microchip"></i> <strong>Chip:</strong> @item.Identifier</p>
                                <p class="card-text"><i class="fas fa-dog"></i> <strong>Espécie:</strong> @item.Specie</p>
                            </div>
                            <div class="col">
                                <p class="card-text"><i class="fas fa-venus-mars"></i> <strong>Sexo:</strong> @item.Sexy</p>
                                <p class="card-text"><i class="fas fa-notes-medical"></i> <strong>Plano de Saúde:</strong> @item.HealthPlan</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>