@{
    ViewData["Title"] = "Início";
}

<style>
    .float-end {
        background: #AABD24;
        border-radius: 0.25rem;
    }

    .widget-icon {
        color: #485107;
        font-size: 20px;
        background-color: 114, 124, 245;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 3px;
        display: inline-block;
    }

    *, ::after, ::before {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .mdi-set, .mdi:before {
        display: inline-block;
        font: normal normal normal 24px / 1 "Material Design Icons";
        font-size: inherit;
        text-rendering: auto;
        line-height: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .mdi-account-multiple::before {
        content: "\f000e";
    }
</style>

<div class="container-fluid">
    <form asp-action="Details" asp-controller="Guardian" method="get">

        <div class="row mb-4 align-items-end justify-content-center">
            <div class="col-sm-9">
                <select class="form-control select2" name="IdPet" id="IdPet" asp-items="ViewBag.Pets">
                    <option selected value="0">Pesquisar por pet...</option>
                </select>
            </div>
            <div class="col-sm-1 mt-4 text-center">
                <button disabled type="submit" id="details" class="btn btn-info"><i class="fa fa-search"></i> Ver detalhes </button>
            </div>
        </div>
    </form>
    <div class="row  justify-content-center">
        <div class="col-xl-2 col-lg-2">
            <div class="card widget-flat">
                <div class="card-body">
                    <div class="float-end">
                        <i class="mdi mdi-currency-usd widget-icon"></i>
                    </div>
                    <h5 class="text-muted fw-normal mt-0" title="Number of Customers">Saldo no Pagar.me</h5>
                    <h3 class="mt-3 mb-3">R$ @ViewBag.Value</h3>
                    <p class="mb-0 text-muted">
                        @if (ViewBag.UrlBalance != null)
                        {
                            <a target="_blank" href="@ViewBag.UrlBalance">Realizar saque.</a>
                        }
                        else
                        {
                            <br />
                        }
                    </p>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->

        <div class="col-xl-2 col-lg-2">
            <div class="card widget-flat">
                <div class="card-body">
                    <div class="float-end">
                        <i class="mdi mdi-currency-usd widget-icon"></i>
                    </div>
                    <h5 class="text-muted fw-normal mt-0" title="Growth">Tutores</h5>
                    <h3 class="mt-3 mb-3"> @ViewBag.QtdGuardians </h3>
                    <p class="mb-0 text-muted">
                        <span class="text-@ViewBag.TypeTextGuardians me-2"><i class="mdi mdi-arrow-@ViewBag.ArrowGuardians-bold"></i>  @ViewBag.PercentGuardians %</span>
                        <span class="text-nowrap">Desde o último mês.</span>
                    </p>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div>

        <div class="col-xl-2 col-lg-2">
            <div class="card widget-flat">
                <div class="card-body">
                    <div class="float-end">
                        <i class="fa-solid fa-dog widget-icon"></i>
                    </div>
                    <h5 class="text-muted fw-normal mt-0" title="Growth">Pets</h5>
                    <h3 class="mt-3 mb-3"> @ViewBag.QtdPets </h3>
                    <p class="mb-0 text-muted">
                        <span class="text-@ViewBag.TypeTextPets me-2"><i class="mdi mdi-arrow-@ViewBag.ArrowPets-bold"></i>  @ViewBag.PercentPets %</span>
                        <span class="text-nowrap">Desde o último mês.</span>
                    </p>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div>

        <div class="col-xl-2 col-lg-2">
            <div class="card widget-flat">
                <div class="card-body">
                    <div class="float-end">
                        <i class="mdi mdi-cart-plus widget-icon"></i>
                    </div>
                    <h5 class="text-muted fw-normal mt-0" title="Number of Orders">Vendas</h5>
                    <h3 class="mt-3 mb-3">@ViewBag.QtdPayments</h3>
                    <p class="mb-0 text-muted">
                        <span class="text-@ViewBag.TypeTextPayments me-2"><i class="mdi mdi-arrow-@ViewBag.ArrowPayments-bold"></i>  @ViewBag.PercentPayments %</span>
                        <span class="text-nowrap">Desde o último mês.</span>
                    </p>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->

        <div class="col-xl-2 col-lg-2">
            <div class="card widget-flat">
                <div class="card-body">
                    <div class="float-end">
                        <i class="mdi mdi-currency-usd widget-icon"></i>
                    </div>
                    <h5 class="text-muted fw-normal mt-0" title="Average Revenue">Faturamento</h5>
                    <h3 class="mt-3 mb-3">R$ <span class="value-mask formatNumber"> @ViewBag.QtdFaturamento </span> </h3>
                    <p class="mb-0 text-muted">
                        <span class="text-@ViewBag.TypeTextFaturamento me-2"><i class="mdi mdi-arrow-@ViewBag.ArrowFaturamento-bold"></i>  @ViewBag.PercentFaturamento %</span>
                        <span class="text-nowrap">Desde o último mês.</span>
                    </p>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <div class="card-header justify-content-between align-items-center">
            <h3 class="header-title">Relatórios de faturamento</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-sm-12">
        <div class="card card-h-100">
            <div class="card-body pt-0">
                <div id="chart-bar"></div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->

    </div> <!-- end col -->
    <div class="col-lg-6 col-sm-12">
        <div class="card card-h-100">
            <div class="card-body pt-0">
                <div id="chart-line"></div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>
<div class="row">
    <div class="col-12 text-center">
        <div class="card-header justify-content-between align-items-center">
            <h3 class="header-title">Relatórios de indicadores</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-sm-12">
        <div class="card card-h-100">
            <div class="card-body pt-0">
                <div id="chart-pie"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="card card-h-100">
            <div class="card-body pt-0">
                <div id="chart-area"></div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    
    <script type="text/javascript">
        $("#IdPet").change(function () { 
            if($(this).val() == 0){
                $("#details").attr("disabled","true")
            }else{
                $("#details").removeAttr("disabled")
            }
        })





    </script>

    @* Grafico de barras *@
    <script type="text/javascript">

        var objBancoFaturamentoAnual = JSON.parse('@Html.Raw(ViewBag.ObjFaturamentoAnualIndividual)')

        var jsonComplete = completarKeys(objBancoFaturamentoAnual, 12)

        function completarKeys(jsonArray, maxKey) {
            const resultado = Array.from({ length: maxKey }, (v, k) => ({ Key: k + 1, Valor: 0 }));

            jsonArray.forEach(item => {
                if (item.Key && item.Key <= maxKey) {
                    resultado[item.Key - 1].Valor = item.Valor;
                }
            });

            return resultado;
        }

        var arrIndexFaturamentoAnual = [];
        $.each(jsonComplete, function (i, element) {
            arrIndexFaturamentoAnual.push(element.Valor)
        });

        var options = {
            series: [{
                name: '',
                data: arrIndexFaturamentoAnual
            }],
            chart: {
                type: 'bar',
                height: 380
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '55%',
                    endingShape: 'rounded'

                },
            },
            colors: ['#AABD24'],
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                width: 2,
                colors: ['#AABD24']
            },
            title: {
                text: 'Faturamento por plano (todos os planos) - ' + YearNow(),
                align: 'center'
            },
            xaxis: {
                categories: ['Jan', 'Fev', 'Mar', 'Abr', 'Maio', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                title: {
                    text: 'Meses'
                }
            },
            yaxis: {
                title: {
                    text: 'R$'
                }
            },
            fill: {
                opacity: 1
            },
            tooltip: {
                y: {
                    formatter: function (val) {
                        return formatarNumeroBrasileiro(val)
                    }
                }
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart-bar"), options);
        chart.render();
    </script>

    @* Grafico de linhas *@
    <script type="text/javascript">

        var options = {
            series: JSON.parse('@Html.Raw(ViewBag.ObjFaturamentoAnual)'.toLowerCase()),
            chart: {
                height: 380,
                type: 'line',
                zoom: {
                    enabled: false
                }
            },
            stroke: {
                curve: 'smooth'
            },
            colors: ['#AABD24', '#D4AF37', '#292929'],
            dataLabels: {
                enabled: true,
                formatter: function (val, opts) {
                    return formatarNumeroBrasileiro(val)
                },
            },
            title: {
                text: 'Faturamento por plano (Individual) - ' + YearNow(),
                align: 'center'
            },
            grid: {
                row: {
                    colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                    opacity: 0.5
                },
            },
            xaxis: {
                categories: ['Jan', 'Fev', 'Mar', 'Abr', 'Maio', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                title: {
                    text: 'Meses'
                }
            },
            yaxis: {
                title: {
                    text: 'R$'
                },

            },
            tooltip: {
                y: {
                    formatter: function (val) {
                        return formatarNumeroBrasileiro(val)
                    }
                }
            },
        };

        var chart = new ApexCharts(document.querySelector("#chart-line"), options);
        chart.render();



    </script>

    @* Species -  Grafico de pizza *@
    <script type="text/javascript">

        var objBanco = JSON.parse('@Html.Raw(ViewBag.ObjSpecies)')

        var arrName = [];
        $.each(objBanco, function (i, element) {
            arrName.push(element.Name)
        });

        var arrIndex = [];
        $.each(objBanco, function (i, element) {
            arrIndex.push(element.Index)
        });

        var options = {
            series: arrIndex,
            chart: {
                type: 'pie',
                height: 380,
                zoom: {
                    enabled: false
                }
            },

            labels: arrName,
            theme: {
                monochrome: {
                    color: '#AABD24',
                    enabled: true
                }
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        offset: -5
                    }
                }
            },
            title: {
                text: 'Espécies por Pets cadastrados',
                align: 'center'
            },
            dataLabels: {
                formatter(val, opts) {
                    const name = opts.w.globals.labels[opts.seriesIndex]
                    return [name, val.toFixed(1) + '%']
                }
            },
            legend: {
                show: false
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart-pie"), options);
        chart.render();
    </script>

    @* Grafico de area *@
    <script>
        var options = {
            series: JSON.parse('@Html.Raw(ViewBag.ObjFaturamentoArea)'.toLowerCase()),
            chart: {
                height: 380,
                type: 'area',
                zoom: {
                    enabled: false
                }
            },
            stroke: {
                curve: 'straight'
            },

            title: {
                text: 'Vendas por plano - ' + YearNow(),
                align: 'center'
            },
            xaxis: {
                categories: ['Jan', 'Fev', 'Mar', 'Abr', 'Maio', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                title: {
                    text: 'Meses'
                }
            },
            yaxis: {
                title: {
                    text: 'Qtd.'
                },

            },
            tooltip: {
                followCursor: true
            },
            theme: {
                monochrome: {
                    color: '#AABD24',
                    enabled: true
                }
            },
        }
        var chart = new ApexCharts(document.querySelector("#chart-area"), options);
        chart.render();

    </script>

}
