@model HealthPlansProcedureVM
@{
    var groups = Model.ListHealthPlansProcedures.Select(c => c.Group).Distinct();
    ViewData["Title"] = "Beneficios";
    ViewData["Caminho"] = "<li>Plano de Saúde</li><li>Benefícios</li>";
}

<div class="container">
    <div class="col-12 text-center">
        <div class="card-header justify-content-between align-items-center">
            <h3 class="header-title">Plano de Saúde</h3>
        </div>
    </div>
    <div class="row m-15 text-center ">
        <div class="col-2"></div>
        <div class="col-sm-12 col-md-4">
            <b>Nome: </b>
            <span>@Model.Name</span>
        </div>
        <div class=" col-sm-12 col-md-6">
            <b>Valor: </b>
            <b>R$ </b> <span class="value-mask"> @Model.Value</span>
        </div>
    </div> 
</div>
<div class="container">
    <div class="table-responsive-xl">
        <table class="table table-sm bg-white table-hover bootstrap-table">
            <thead class="thead-dark">
                <tr>                    
                    <th>Procedimento</th>
                    <th>Coparticipação</th>
                    <th>Limite Anual</th>
                    <th>Carencia</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in groups)
                {
                    <tr class="">
                        <th colspan="4" class="bg-dark border-2 border-dark-subtle font-bold text-center text-white">@item</th>
                    </tr>
                    @foreach (var proc in Model.ListHealthPlansProcedures.Where(c => c.Group.Equals(item)))
                    {
                        <tr>
                            <td>@proc.Procedure</td>
                            <td> <b>R$ </b> <span class="value-mask">@proc.Coparticipation </span></td>
                            <td>@(proc.AnnualLimit?.ToString() ?? "Ilimitado")</td>
                            <td class="text-nowrap">@proc.Lack dias</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>