@model ICollection<GuardianVM>
@{
    ViewData["Title"] = "Tutores";
    ViewData["Caminho"] = "<li>Tutores</li>";
}


<div class="row mb-3 ">
    <div class="col-12 text-center">
        <button data-id="0" id="modal-open" class="btn btn-success">
            <i class="fa fa-plus-circle"></i>
            <b>Incluir Tutor</b>
        </button>
    </div>
</div>

<div class="container">
    <div class="table-responsive-xl">
        <table class="table table-sm table-striped bg-white table-hover bootstrap-table">
            <thead class="thead-dark">
                <tr>
                    <th data-field="id" width="15">#</th>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Telefone</th>
                    <th width="15" class="text-center" data-field="operate" data-events="operateEvents"> </th>
                </tr>
            </thead>
            <tbody class="bg-white">
                @foreach (var item in Model)
                {
                    <tr class="bg-white">
                        <td>@item.Id</td>
                        <td>
                            @item.Name
                        </td>
                        <td class="text-nowrap">@item.City, @item.State, @item.Address</td>
                        <td class="text-nowrap">@item.Phone</td>
                        <td class="text-nowrap text-right" width="15">
                            <a class="mr-2 deletar" href="#" data-toggle="tooltip" data-bs-placement="left" title="Deletar" data-id="@item.Id">
                                <i class="fa fa-times text-danger"> </i>
                            </a>
                            <a class="edit" href="#" data-toggle="tooltip" title="Editar" data-bs-placement="left" data-id="@item.Id">
                                <i class="text-dark fa fa-pencil-alt"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" role="dialog" data-bs-backdrop="static" id="modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form asp-action="Index" method="post">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title title">Cadastrar Material</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa fa-times-circle"></i>  Fechar</button>
                    <button type="submit" id="btn-salve" class="btn btn-success"><i class="fa fa-check-circle"></i> Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" style="padding-top:120px" role="dialog" id="delete" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title"><i class="fa fa-exclamation-triangle " style="color:yellow"></i>  ATENÇÃO <i style="color:yellow" class="fa fa-exclamation-triangle"></i></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span class="font-weight-bold font-18">
                    Tem certeza que deseja apagar este Tutor?
                    <input type="hidden" id="del-evento" />
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa fa-times-circle"></i>  Fechar</button>
                <button type="button" id="confirm-del" class="btn btn-success"><i class="fa fa-check-circle"></i> Confirmar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("#modal-open, .edit").click(function () {
            var id = $(this).data("id");
            Ajax(id)
        })

        function validarCampos(){
            $("#CPF").keyup(function () {
                var cpf = $(this).val()
                if (cpf.length > 13) {
                    if (!cpfValidar(cpf)) {
                        $("#valida-cpf").removeClass("d-none")
                        $("#btn-salve").attr("disabled", "true")
                    } else {
                        
                        $("#valida-cpf").addClass("d-none")
                        $("#btn-salve").removeAttr("disabled", "true")
                    }

                } else {
                    $("#valida-cpf").addClass("d-none")
                    $("#btn-salve").removeAttr("disabled", "true")
                }
            })

            $("#DateBirth").keyup(function () {
                var dataNasc = $(this).val()
                if (dataNasc.length > 9) {
                    if (!validarData(dataNasc)) {
                        $("#valida-data").removeClass("d-none")
                        $("#btn-salve").attr("disabled", "true")
                    } else {
                        $("#valida-data").addClass("d-none")
                        $("#btn-salve").removeAttr("disabled", "true")
                    }
                }else{
                    $("#valida-data").addClass("d-none")
                    $("#btn-salve").removeAttr("disabled", "true")
                }
            })
        }

        function validarData(data) {
            // Verifica se a data está no formato "dd/mm/aaaa"
            let regexData = /^\d{2}\/\d{2}\/\d{4}$/;
            if (!regexData.test(data)) {
                return false;
            }

            // Extrai o dia, mês e ano da data
            let partes = data.split('/');
            let dia = parseInt(partes[0]);
            let mes = parseInt(partes[1]);
            let ano = parseInt(partes[2]);

            // Verifica se o dia, mês e ano são válidos
            if (isNaN(dia) || isNaN(mes) || isNaN(ano)) {
                return false;
            }

            // Verifica se o mês está entre 1 e 12
            if (mes < 1 || mes > 12) {
                return false;
            }

            // Verifica se o dia está entre 1 e 31, dependendo do mês
            if (dia < 1 || dia > diasNoMes(mes, ano)) {
                return false;
            }

            // Data válida
            return true;
        }

        // Função auxiliar para obter o número de dias em um determinado mês e ano
        function diasNoMes(mes, ano) {
            if (mes === 2) {
                return (ano % 4 === 0 && (ano % 100 !== 0 || ano % 400 === 0)) ? 29 : 28;
            } else if ([4, 6, 9, 11].includes(mes)) {
                return 30;
            } else {
                return 31;
            }
        }

        function cpfValidar(cpf) {
            cpf = cpf.replace(/\D/g, '');
            if (cpf.toString().length != 11 || /^(\d)\1{10}$/.test(cpf)) return false;
            var result = true;
            [9, 10].forEach(function (j) {
                var soma = 0, r;
                cpf.split(/(?=)/).splice(0, j).forEach(function (e, i) {
                    soma += parseInt(e) * ((j + 2) - (i + 1));
                });
                r = soma % 11;
                r = (r < 2) ? 0 : 11 - r;
                if (r != cpf.substring(j, j + 1)) result = false;
            });
            return result;
        }

        function Ajax(id) {
            $.post('@Url.Action("Ajax")', { "id": id }, function (response) {
                $("#modal-body").html(response);
                maskInit();
                changeCep();
                validarCampos();
                if (id != 0) {
                    $(".title").text("Editar Tutor")
                } else {
                    $(".title").text("Cadastrar Tutor")
                }
                $("#modal").modal("show");
            })
        }

        $("#confirm-del").click(function () {
            window.location.href = "@Url.Action("Delete")?id=" + $("#del-evento").val();
        });

        var $table = $('#table')
        window.operateEvents = {
            'click .edit': function (e, value, row, index) {
                var id = [row.id]
                Ajax(id)
            },
            'click .deletar': function (e, value, row, index) {
                var id = [row.id]
                $("#del-evento").val(id)
                $("#delete").modal("show")
            }
        }

        function changeCep(){
            $("#CEP").keyup(function () { 
                if (($(this).val().length) == 9) {
                    $.getJSON('@Url.Action("GetAddressByCEP")', { "CEP": $(this).val() }, function (response) {
                        $("#City").val(response.city)
                        $("#State").val(response.state)
                        $("#Address").val(response.street)
                        $("#Neighborhood").val(response.neighborhood)
                    })
                }else{
                    $("#City").val("")
                    $("#State").val("")
                    $("#Address").val("")
                    $("#Neighborhood").val("")
                }
            })
        }
    </script>
}