@model ICollection<ProcedureHealthPlanVM>
@{
    ViewData["Title"] = "Vínculos de procedimentos";
}

<div class="row mb-3 ">
    <div class="col-12 text-center">
        <button data-id="0" id="modal-open" class="btn btn-success">
            <i class="fa fa-plus-circle"></i>
            <b>Vincular Procedimento</b>
        </button>
    </div>
</div>

<div class="container">
    <div class="table-responsive-xl">
        <table class="table table-sm bg-white table-hover bootstrap-table">
            <thead class="thead-dark">
                <tr>
                    <th data-field="id" width="15">#</th>
                    <th>Procedimento</th>
                    <th>Vínculos</th>
                    <th class="text-center" data-field="operate" data-events="operateEvents"> </th>
                </tr>
            </thead>
            <tbody class="bg-white">
                @foreach (var group in Model.GroupBy(x => x.ProcedureGroup))
                {
                    <tr>
                        <th colspan="4" class="font-bold text-center">@group.Key</th>
                    </tr>

                    @foreach (var item in group.ToList())
                    {
                        <tr class="bg-white">
                            <td>@item.ProcedureId</td>
                            <td>@item.ProcedureName</td>
                            <td>
                                <table class="table table-sm table-striped bg-white table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Plano</th>
                                            <th>Observação</th>
                                            <th>Coparticipação</th>
                                            <th>Limite anual</th>
                                            <th>Carência </th>
                                        </tr>
                                    </thead>
                                    @foreach(var vinculo in item.ProcedureHealthPlanList)
                                    {
                                        <tr>
                                            <td>@vinculo.HealthPlanName - <b>R$ </b><span class="value-mask">@vinculo.HealthPlanValue</span></td>
                                            <td>@vinculo.Observation</td>
                                            <td><b>R$ </b><span class="value-mask">@vinculo.Coparticipation</span></td>
                                            <td>@(vinculo.AnnualLimit?.ToString() ?? "Ilimitado")</td>
                                            <td>@vinculo.Lack dias</td>
                                        </tr>
                                    }
                                </table>
                            </td>
                            <td class="text-nowrap text-right">
                                <a class="edit" href="#" data-toggle="tooltip" title="Editar" data-placement="left" data-id="@item.ProcedureId">
                                    <i class="text-dark fa fa-pencil-alt"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" role="dialog" data-bs-backdrop="static" id="modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form asp-action="HealthPlan" method="post">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title title"></h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa fa-times-circle"></i>  Fechar</button>
                    <button type="submit" class="btn btn-success"><i class="fa fa-check-circle"></i> Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("#modal-open, .edit").click(function () {
            var id = $(this).data("id");
            AjaxProcHealthPlan(id)
        })

        function AjaxProcHealthPlan(id) {
            $.post('@Url.Action("AjaxHealthPlan")', { "procedureId": id }, function (response) {
                $("#modal-body").html(response);
                maskInit();
                select2Init();
                $(".title").text("Vincular Procedimento")
                $("#modal").modal("show");

            })
        }

        var $table = $('#table')
        window.operateEvents = {
            'click .edit': function (e, value, row, index) {
                var id = [row.id]
                AjaxProcHealthPlan(id)
            }
        }
    </script>
}