@using PetShopCRM.Web.Services.Interfaces
@using PetShopCRM.Web.Util
@using PetShopCRM.Domain.Enums
@inject ILoggedUserService loggedUser

<!DOCTYPE html>
<html dir="ltr" lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="~/imagens/logo png/logo-mini.png">
    <title>VetCard - @ViewData["Title"] </title>    
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/AlertifyJS/css/alertify.min.css" />
    <link rel="stylesheet" href="~/lib/AlertifyJS/css/themes/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/sn8/themify-icons/css/themify-icons.css" />
    <link rel="stylesheet" href="~/lib/mdi/font/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/template.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <style type="text/css">
        .bootstrap-datetimepicker-widget {
            width: 285px !important;
        }

        .dropdown-item:active {
            color: #fff;
            text-decoration: none;
            background-color: #AABD24 !important;
        }

        #navbarSupportedContent {
            border-bottom: 2px solid #AABD24;
            box-shadow: 0 2px 1px -2px #719ECE;
        }

        input {
            border: 1px solid rgba(128, 128, 128, 0.42) !important;
        }

            input:focus {
                outline: none !important;
                border: 1px solid blue;
                box-shadow: 0 0 20px #719ECE;
            }

        textarea {
            border: 1px solid rgba(128, 128, 128, 0.42) !important;
        }

            textarea:focus {
                outline: none !important;
                border: 1px solid blue;
                box-shadow: 0 0 20px #719ECE;
            }


        body {
            font-size: 0.900rem;
        }

        .field-validation-error {
            font-weight: 700;
            color: red;
        }

        label {
            font-weight: 700;
        }

        .modal-content {
            background-color: #f5f5f5 !important;
        }

        input {
            background-color: white !important;
        }

        .sidebar-link.active {
            background-color: rgba(170, 189, 36, .3);
        }

        .select2-container--default .select2-selection--single {
            border: 1px solid #c4c4c4 !important;
            border-radius: 2px !important;
        }

        .select2-container .select2-selection--single {
            height: 35px !important;
        }
    </style>
</head>
<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper" data-sidebartype="mini-sidebar" class="mini-sidebar">
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <a class="navbar-brand" href="@Url.Action("Index","Home")" style="padding:0!important">
                        <b class="logo-icon ">
                            <img src="~/imagens/logo-mini.svg" width="60" height="55" alt="homepage" style="padding-left:8px" class="light-logo" />
                        </b>
                        <span class="logo-text text-center">
                            <span class="accordionsa">
                                <img src="~/imagens/vet-card.svg" width="180" height="60" alt="homepage" class="light-logo" />
                            </span>
                        </span>
                    </a>
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
                 @*        <li class="nav-item search-box">
                            <a class="nav-link waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search position-absolute" method="get" asp-action="Listar" asp-controller="Clientes">
                                <select class="form-control">
                                    <option>adf asdf sadfsdaf sad</option>
                                    <option>adf asdf sadfsdaf sad</option>
                                    <option>adf asdf sadfsdaf sad</option>
                                    <option>adf asdf sadfsdaf sad</option>
                                    <option>adf asdf sadfsdaf sad</option>
                                    <option>adf asdf sadfsdaf sad</option>
                                </select>
                            </form>
                        </li> *@

                    @*     <li class="nav-item search-box">
                            <a class="nav-link waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search position-absolute" method="get" asp-action="Listar" asp-controller="Clientes">
                                <input name="id" type="text" class="form-control" placeholder="Pesquisar Paciente..."> <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li> *@
                    </ul>
                    <ul class="navbar-nav float-right d-flex  align-items-center">
                        <li class="nav-item dropdown ">
                            <div class="row font-weight-bold text-white">
                                <div class="col-12">
                                    @loggedUser.Name
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                @if (loggedUser.Image == "")
                                {
                                    <img src="https://static.vecteezy.com/system/resources/previews/019/879/186/non_2x/user-icon-on-transparent-background-free-png.png" alt="user" class="rounded-circle" width="31">
                                }
                                else
                                {
                                    <img src="~/Upload/Profile/@loggedUser.Id/@loggedUser.Image" alt="user" class="rounded-circle" width="31">
                                }
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-right user-dd animated">

                                <a class="dropdown-item" href="@Url.Action("Profile","User")"><i class="ti-user m-r-5 m-l-5"></i> Meu Perfil</a>
                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="@Url.Action("Logout", "User")"><i class="text-danger fa fa-power-off m-r-5 m-l-5"></i> Sair</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="@Url.Action("Index","Home")" aria-expanded="false"><i class="fa fa-home"></i><span class="hide-menu"> Home</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa-solid fa-credit-card"></i><span class="hide-menu"> Pagamentos </span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="@Url.Action("Index","Payment")" class="sidebar-link"><i class="fa fa-dollar"></i><span class="hide-menu"> Vender/Cancelar </span></a></li>
                                <li class="sidebar-item"><a href="@Url.Action("Monitoring","Payment")" class="sidebar-link"><i class="fa-solid fa-table-columns"></i><span class="hide-menu">  Monitoramento </span></a></li>
                            </ul>
                        </li>
                        <li class="sidebar-item"><a href="@Url.Action("Index","Pet")" class="sidebar-link"><i class="fa-solid fa-dog"></i><span class="hide-menu"> Pets </span></a></li>
                        <li class="sidebar-item"><a href="@Url.Action("Index","Clinic")" class="sidebar-link"><i class="fa-solid fa-house-chimney-medical"></i><span class="hide-menu">  Clínicas </span></a></li>
                        <li class="sidebar-item"><a href="@Url.Action("Index","Guardian")" class="sidebar-link"><i class="fa-solid fa-user-group"></i><span class="hide-menu">  Tutores </span></a></li>
                        <li class="sidebar-item"><a href="@Url.Action("Index","Specie")" class="sidebar-link"><i class="fa-solid fa-dna"></i><span class="hide-menu">  Espécies </span></a></li>
                        <li class="sidebar-item"><a href="@Url.Action("Index","HealthPlans")" class="sidebar-link"><i class="fa-solid fa-heart-pulse"></i><span class="hide-menu">  Planos de Saúde </span></a></li>


                        @if (loggedUser.Role == nameof(UserType.Admin))
                        {
                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-cog"></i><span class="hide-menu"> Administrador </span></a>
                                <ul aria-expanded="false" class="collapse  first-level">
                                    <li class="sidebar-item"><a href="@Url.Action("Index","Configuration")" class="sidebar-link"><i class="fa fa-cogs"></i><span class="hide-menu"> Configurações </span></a></li>
                                    <li class="sidebar-item"><a href="@Url.Action("AddUser","User")" class="sidebar-link"><i class="fa fa-user"></i><span class="hide-menu"> Usuários </span></a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">@ViewData["Title"]</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                                    @Html.Raw(ViewBag.Caminho)
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" id="center-container">
                @RenderBody()
            </div>
            <footer class="footer text-center">
                DevRoyale - 2024
            </footer>
        </div>
    </div>
    <!--Container Main end-->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/AlertifyJS/alertify.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/perfect-scrollbar.jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/highlight.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.verySimpleImageViewer.min.js" asp-append-version="true"></script>
    <script src="~/js/printThis.js" asp-append-version="true"></script>
    <script src="~/js/waves.js" asp-append-version="true"></script>
    <script src="~/js/custom.min.js" asp-append-version="true"></script>
    <script src="~/js/sidebarmenu.js" asp-append-version="true"></script>
    <script src="~/js/SignalR.js" asp-append-version="true"></script>
    <script src="~/lib/jquery.mask/jquery.mask.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js" asp-append-version="true"></script>
    <script src="~/lib/tableexport.jquery.plugin/tableExport.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js" asp-append-version="true"></script>
    <script src="~/lib/apexcharts/apexcharts.min.js" asp-append-version="true"></script>        
    <script src="~/lib/select2/js/select2.min.js" asp-append-version="true"></script>
    <script src="~/lib/select2/js/i18n/pt-br.min.js"></script>
    <script src="~/lib/bootstrap-table/src/locale/bootstrap-table-pt-br.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var ol = $(".breadcrumb > li");
            $.each(ol, function (key, element) {
                $(element).addClass("breadcrumb-item");
            });
        })

        function formatarNumeroBrasileiro(numero) {
            var retorno = 0
            if (!!numero) {
                retorno = numero.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' });
            }
            return retorno
        }

        function YearNow() {
            let dataAtual = new Date();
            let anoAtual = dataAtual.getFullYear();
            return anoAtual
        }


        function maskInit() {
            $(".phone-mask").mask("(00) 0 0000-0000")
            $(".date-mask").mask("00/00/0000")
            $(".cpf-mask").mask("000.000.000-00")
            $(".cnpj-mask").mask("00.000.000/0000-00")
            $('.value-mask').mask('000.000.000.000.000,00', { reverse: true });
            $(".cep-mask").mask("00000-000")            
            $(".value-mask").focusout(function () {
                if ($(this).val().length <= 2) {
                    temp = $(this).val()
                    var newNum = temp + ",00"
                    $(this).val(newNum)
                }
            })

            $('[data-mask]').each((index, element) => {
                var mask = $(element).data('mask');

                $(element).mask(mask);
            });
            select2Init();
        }

        function select2Init(){
            $(".select2").select2({ width: '100%', language: "pt-BR" })            
        }

        select2Init();

        maskInit();

        $('.bootstrap-table').each(function () {
            $(this).attr({
                'data-toggle': 'table',
                'data-search': 'true',
                'data-pagination': 'true',
                'data-show-export': 'true',
                'data-page-list': '[10, 25, 50, 100, all]'
            });
        });

        @if (NotificationUtil.Stack.Count > 0)
        {
            foreach (string item in NotificationUtil.Stack.Reverse())
            {
                var a = item;
                @:  @Html.Raw(a)
            }
            NotificationUtil.Stack.Clear();
        }

            signalRObject.execute('/Notification', function (connection) {
                connection.invoke("joinGroup", '@loggedUser.Id').catch(function (err) {
                    return console.error(err.toString());
                });

                connection.on('ReceiveNotificationAll', function (script) {
                    eval(script);
                });

                connection.on('ReceiveNotificationUser', function (script) {
                    eval(script);
                });
            });

        removerPontoInicio($(".formatNumber").text())
        function removerPontoInicio(str) {
            if (str.charAt(0) === '.') {
                $(".formatNumber").text(str.slice(1));
            }
        }

        $(".select2").select2();
     

    </script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>
